<div class="profile-view">
	
	<div ng-show="passwordChanged" class="alert alert-success" > <i class="fa fa-check"></i> {{'profile.password.changed' | translate}} </div>

	<form novalidate name="credentials" class="form-horizontal">
		
		<fieldset ng-disabled="submiting">
			
	
			<div class="form-group">
				<label class="col-lg-3 control-label"></label>
				<div class="col-lg-9">
					<!-- <h1 >{{user.firstname}} {{user.lastname}}</h1> -->

				</div>
			</div>
			
			<div 
				class="form-group password-group" 
				ng-class="{ 'has-error': (submited  && ( credentials.currentPassword.$invalid) || serverError) }" >

				<label class="col-lg-3 control-label" translate >profile.current.password</label>
				<div class="col-lg-9 form-item">
					<input 
						type="password" 
						class="form-control" 
						name="currentPassword" 
						placeholder="{{ 'profile.current.password' | translate }}"
	 					ng-model="currentPassword"
	 					ng-change="resetServerError()"
	 					autofocus="" 
	 					required >

					<div class="error-tip" >						
						<span ng-show="credentials.currentPassword.$error.required" translate > profile.current.password.required</span>	
						<span ng-show="serverError" translate > profile.current.password.incorect</span>	
					</div>

				</div>
			</div>

			<div 
				class="form-group password-group" 
				ng-class="{ 'has-error': (submited  && ( credentials.newPassword.$invalid) ) }" >

				<label class="col-lg-3 control-label" translate >profile.new.password</label>
				<div class="col-lg-9 form-item">
					<input 
						type="password" 
						class="form-control" 
						name="newPassword" 
						placeholder="{{ 'profile.new.password' | translate }}"
	 					ng-model="newPassword"
	 					required >

					<div class="error-tip" >						
							<span ng-show="credentials.newPassword.$error.required" translate > profile.new.password.required</span>	
					</div>

				</div>

			</div>	

			<div class="form-group " > 

				<div class="col-lg-12">
					
					<div class="pull-right">

						<div class="btn-group">
							<button class="btn btn-imt-primary three-d" ng-click="save()" ng-disabled="submiting" >
								<i class="fa fa-check" ng-hide="submiting" ></i>
								{{ (submiting ? 'profile.password.changing' : 'profile.password.change' ) | translate}}
							</button>
						</div>

					</div>
				</div>		

			</div>							

		</fieldset>

	</form>			

</div>