
<div class="image-chooser-wrapper" >
	<div imt-drop-zone="changeFile($files)" class="image-chooser"  ng-class="{'has-image': hasImage() }" >
		<div class="drop-place-holder"></div>
		
		<div ng-show="!fileItem && getImage()" class="item-thumbnail-wrapper" >
			<div class="item-thumbnail" imt-src="getImage()" imt-size="w=100" ></div>
		</div>

		<div class="uploader" ng-show="!fileItem && !getImage()">
			<i  class="fa {{uploadIcon}} upload-icon"></i>
		</div>

		<div class="thumb-preview"  imt-thumb-preview="{{size}}"></div>

		<div  class="pending-state"  ng-show="fileItem.isUploading"  >
			<div class="progress progress-striped active"  >
				<div class="progress-bar progress-bar-success" data-ng-style="{width: fileItem.progress + '%'}"></div>
			</div>		 
		</div>
		
		<input type="file" name="files[]" imt-file-selected="changeFile($files)" >									

	</div>
	<div class="bottom-controls"  >
		<i class="fa fa-trash-o" ng-show="fileItem || getImage()"  ng-click="removeFile()"></i>
	</div>
</div>	
