<div class="login-view">
	
		<form novalidate name="credentials" class="form-horizontal " >
			<fieldset ng-disabled="submiting">
				<div class="form-group">
					<div class="col-lg-12">
						<h1 translate >login.title</h1>					
					</div>
				</div>			
				
				<div 
					class="form-group email-group " 
				    ng-class="{ 'has-error': (submited && (credentials.email.$invalid || serverError == 'login.email.notfound' ) ) }" >
					
					<div class="form-item col-lg-12">
						<input type="email" class="form-control" placeholder="{{ 'login.email' | translate }}" autofocus="" ng-model="email" name="email" required ng-change="resetServerError()"  >
					
						<div class="error-tip" >						
							<span ng-show="credentials.email.$error.required" translate> login.email-isempty </span>
							<span ng-show="credentials.email.$error.email" translate> login.email-invalid </span>					
							<span ng-show="serverError == 'login.email.notfound'" >							
								{{'login.email.notfound' | translate}} <br>
								<a ui-sref="register({ 'email': email })" translate >login.email.notfound.signup</a>
							</span>					
						</div>	
					</div>
					

				</div>
				
				<div 
					class="form-group password-group " 
					ng-class="{ 'has-error': (submited &&  ( credentials.password.$invalid || serverError == 'login.password.incorect' ) ) }" >
				
					<div class="form-item col-lg-12">
						<input type="password" class="form-control" placeholder="{{ 'login.password' | translate }} " ng-model="password" name="password" required ng-change="resetServerError()" >
						
						<div class="error-tip" >						
							<span ng-show="credentials.password.$error.required" translate> login.password-isempty </span>
							<span ng-show="serverError == 'login.password.incorect'" >
								{{ 'login.password.incorect' | translate}} <br>				
								<a ui-sref="forgot({ 'email': email })" translate>login.password.forgot</a>
							</span>				
						</div>
					</div>

				</div>
				<div class="form-group buttons-group ">
					<div class="col-lg-12">
						<div class="login-buttons pull-right">
							<a class="btn btn-lg btn-link register-button" ui-sref="register" >{{ "login.register" | translate }} </a>
							<button class="btn btn-lg btn-primary login-button btn-imt-primary three-d"  ng-click="login()"  >{{ "login.login" | translate }} </button>
						</div>						
					</div>
				</div>

				<div class="form-group forget-group ">
					<div class="col-lg-12">
					
						<!-- <h3>Forget your Password ?</h3> -->
						<!-- <p>no worries, click here to reset your password.</p> -->
						<a ui-sref="forgot({ 'email': email })" translate>login.password.forgot</a>
					
					</div>
				</div>
			</fieldset>

		</form>

		

</div>

      