<div class="navbar-inner">

	<div class="container-fluid">
		<div class="imt-row">
		
			<nav>
				
				<ul class="nav navbar-nav navbar-left visible-sm visible-xs" >
					<li>
						<a  class="btn left-drawer-toggle drawer-toggle" ng-click="toggle()"> <i class="fa fa-bars"></i></a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right "  >
					
					<li class="section-link hidden-xs" ng-class="{ 'active': isCurrentMenu('home') }" >
						<a ng-click="changeMenu('home')" translate>menu.home</a>

					</li>

					<li class="section-link hidden-xs"  ng-class="{ 'active': isCurrentMenu('shop') }">
						<a ng-click="changeMenu('shop.products')" translate >menu.store</a>
					</li>

					<li class="section-link hidden-xs" ng-class="{ 'active': isCurrentMenu('about') }" >
						<a ng-click="changeMenu('about')" translate>menu.about</a>
					</li>

					<li class="section-link hidden-xs" ng-class="{ 'active': isCurrentMenu('contact') }" >
						<a ng-click="changeMenu('contact')" translate>menu.contact</a>
					</li>
					
					<li class="section-link hidden-xs" ng-class="{ 'active': isCurrentMenu('admin') }" ng-if="isRole('admin')" >
						<a ng-click="changeMenu('admin')" ui-sref="admin" translate >menu.admin</a>

					</li>
					<li class="divider hidden-sm  hidden-xs">&nbsp;</li>

					<li class="dropdown hidden-sm hidden-xs" >
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-if="user" >
							<i class="fa fa-user "></i>
							{{user.firstname}}
							<i class="fa fa-caret-down"></i>
						</a>
						<a ui-sref="login" data-toggle="dropdown" ng-if="!user" >
							<i class="fa fa-user "></i>
							{{ 'menu.login' | translate }}							
						</a>
						<ul class="dropdown-menu" ng-if="user">
							<li><a class="dropdown" ui-sref="account.profile" > <i class="fa fa-user"></i> &nbsp;&nbsp;{{ 'menu.account' | translate }} </a></li>
							<li class="divider"></li>
							<li class="dropdown-header"></li>
							<li><a class="dropdown "  ng-click="logout()" > <i class="fa fa-power-off"></i> &nbsp;&nbsp;{{'menu.logout' | translate}}</a></li>

						</ul>
					</li>		

					<li ng-if="cart" ng-show="cart && cart.quantity() > 0" >
						<a class="btn cart-toggle drawer-toggle" ng-click="toggleCart()" >
							<i class="icon icon-cart"></i>
							<span ng-show="cart.quantity() == 0">Cart</span>
							<span ng-show="cart.quantity() > 0">{{cart.quantity()}}</span>
						</a>
					</li>		
					
				</ul>
				<div class="container add-item-panel hidden-xs" ng-class="{'active': update}">

					<div class="image-wrapper col-xs-6" >
						<div ng-if="cart.getLastItem()" imt-image="cart.getLastItem().design.image?cart.getLastItem().design.image:cart.getLastItem().product.image" imt-size="s=400" ng-class="{ 'visible': true }" ></div>
					</div>
					<div class="col-xs-6">
						<h4 class="col-xs-12" style="color: white">Product: {{cart.getLastItem().product.identifier}}</h4>
						<h5 class="col-xs-12" style="color: white">{{cart.getLastItem().product.title}}</h5>
					</div>
					<div class="col-xs-12">
						<i ng-if="cart.active=='added'" class="fa fa-check" style="color: green"> Item {{cart.active}} to the cart</i>
						<i ng-if="cart.active=='removed'" class="fa fa-times" style="color: red"> Item {{cart.active}} from the cart</i>
					</div>


				</div>
			</nav>

			<nav class="logo-nav" >
				<ul class="nav navbar-nav navbar-left">
					<li>
						<a href="/" >
							<span class="logo">
								<!-- <img class="chair" src="/resources/img/chair.svg" > -->
								<img class="img-logo" title="MagicPro Funtime Logo - Smiley Face" description="MagicPro Funtime logo image with smiley face" alt="MagicPro Funtime logo image with smiley face" src="/resources/img/magic_logo.png" >
								<span class="design">MagicPro</span>
							</span>
						</a>
					</li>
				</ul>
				
			</nav>
		</div>
		
	</div>
</div>
