<div class="navbar-inner">

	<div class="container-fluid">
		<div class="imt-row">
		
			<nav>
				
				<ul class="nav navbar-nav navbar-left visible-sm visible-xs" >
					<li>
						<a  class="btn left-drawer-toggle drawer-toggle" ng-click="toggle()"> <i class="fa fa-bars"></i></a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right "  >
					
					<li class="section-link hidden-xs" ng-class="{ 'active': isCurrentMenu('home') }" >
						<a ng-click="changeMenu('home')" translate>menu.home</a>

					</li>

					<li class="section-link hidden-xs"  ng-class="{ 'active': isCurrentMenu('shop') }">
						<a ng-click="changeMenu('shop.products')" translate >menu.store</a>

					</li>
					<li class="section-link hidden-xs" ng-class="{ 'active': isCurrentMenu('blog') }" >
						<a ng-click="changeMenu('blog')" translate>menu.blog</a>

					</li>

					<li class="section-link hidden-xs" ng-class="{ 'active': isCurrentMenu('contact') }" >
						<a ng-click="changeMenu('contact')" translate>menu.contact</a>

					</li>
					
					<li class="section-link hidden-xs" ng-class="{ 'active': isCurrentMenu('admin') }" ng-if="isRole('admin')" >
						<a ng-click="changeMenu('admin')" ui-sref="admin" translate >menu.admin</a>

					</li>
					<li class="divider hidden-sm  hidden-xs">&nbsp;</li>

					<li class="dropdown hidden-sm hidden-xs">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-if="user">
							<i class="fa fa-user "></i>
							{{user.firstname}}
							<i class="fa fa-caret-down"></i>
						</a>

						<a ui-sref="login" data-toggle="dropdown" ng-if="!user" >
							<i class="fa fa-user "></i>
							{{ 'menu.login' | translate }}							
						</a>
						<ul class="dropdown-menu" ng-if="user">
							<li><a class="dropdown" ui-sref="account.profile" > <i class="fa fa-user"></i> &nbsp;&nbsp;{{ 'menu.account' | translate }} </a></li>
							<li class="divider"></li>
							<li class="dropdown-header"></li>
							<li><a class="dropdown "  ng-click="logout()" > <i class="fa fa-power-off"></i> &nbsp;&nbsp;{{'menu.logout' | translate}}</a></li>

						</ul>



					</li>		

					<li ng-if="cart" ng-show="cart && cart.quantity() > 0" >
						<a class="btn cart-toggle drawer-toggle" ng-click="toggleCart()" >
							<i class="icon icon-cart"></i>
							<span ng-show="cart.quantity() == 0">Cart</span>
							<span ng-show="cart.quantity() > 0">{{cart.quantity()}}</span>								
						</a>
					</li>		
					
				</ul>

			</nav>

			<nav class="logo-nav" >
				<ul class="nav navbar-nav navbar-left">
					<li>
						<a href="/" >
							<span class="logo">
								<img class="chair" src="/resources/img/chair.svg" >
								<span class="imt">IMT</span><span class="design">Pawpaw</span>
							</span>
						</a>
					</li>
				</ul>
				
			</nav>
		</div>
		
	</div>
</div>
