<div class="register-view">


		<form novalidate name="credentials" class="form-horizontal">
			<fieldset ng-disabled="submiting">
				
				<div class="form-group">
					<label class="col-lg-3 control-label"></label>
					<div class="col-lg-9">
						<h1 translate >register.title</h1>					
					</div>
				</div>
				
						
				<!-- First name  -->
				<div 
					class="form-group name-group firstname-group "
					ng-class="{ 'has-error': (submited &&  credentials.firstname.$error.required) }" >

					<label class="col-lg-3 control-label" translate >register.name</label>
					<div class="col-lg-9 form-item">
						
							<input 
								type="text" 
								class="form-control" 
								name="firstname" 
								name="firstname" 
								placeholder="{{ 'register.firstname' | translate }}" 
								autofocus="" 
								ng-model="user.firstname"
								required 									
							>

							<div 
								class="error-tip" 
								translate >
								register.firstname.required							
							</div>

					</div>
				</div>

				<div 
					class="form-group name-group lastname-group"
					ng-class="{ 'has-error': (submited &&   credentials.lastname.$error.required) }" >

					<label class="col-lg-3 control-label"  ></label>
					<div class="col-lg-9 form-item">
						
							
							<!-- First name  -->
							<input 
								type="text" 
								class="form-control" 
								name="lastname" 
								name="lastname" 
								placeholder="{{ 'register.lastname' | translate }}"
								ng-model="user.lastname"
								required 									
							>
							<div class="error-tip" translate >
									register.lastname.required							
							</div>


					</div>
				</div>

				<!-- Company  -->
			<div 
				class="form-group company-group"
				ng-class="{ 'has-error': (submited &&  credentials.firstname.$error.required) }" >

				<label class="col-lg-3 control-label" translate >register.company</label>
				<div class="col-lg-9 form-item">
					
						<input 
							type="text" 
							class="form-control" 
							name="company" 
							name="company" 
							placeholder="{{ 'register.company.name' | translate }}" 
							ng-model="user.company"															
						>

						

				</div>
			</div>

			<div class="form-group abn-group" >

				<label class="col-lg-3 control-label" ></label>
				<div class="col-lg-9 form-item">
					
						<input 
							type="text" 
							class="form-control" 
							name="abn" 
							name="abn" 
							placeholder="{{ 'register.abn' | translate }}" 
							ng-model="user.abn"															
						>

						

				</div>
			</div>

				<!-- Street  -->
				<div class="form-group street-group" >

					<label class="col-lg-3 control-label" translate>register.address</label>
					<div class="col-lg-9 form-item">
						
							<input 
								type="text" 
								class="form-control" 
								name="street" 
								name="street" 
								placeholder="{{ 'register.street' | translate }}" 
								ng-model="user.street"															
							>

							

					</div>
				</div>

				<!-- Suburb / state / Postal Code  -->
				<div class="form-group adress2-group " >

					<label class="col-lg-3 control-label"></label>
					<div class="col-lg-9 form-item">
							<!-- <div class="container"> -->
								<div class="suburb">
									<input 
										type="text" 
										class="form-control  " 
										name="suburb" 
										name="suburb" 
										placeholder="{{ 'register.suburb' | translate }}" 
										ng-model="user.suburb"															
									>
								</div>
								
								<div class="state">
									<input 
										type="text" 
										class="form-control  " 
										name="state" 
										name="state" 
										placeholder="{{ 'register.state' | translate }}" 
										ng-model="user.state"															
									>
								</div>

								<div class="postalcode">
									<input 
										type="text" 
										class="form-control  " 
										name="postalcode" 
										name="postalcode" 
										placeholder="{{ 'register.postalcode' | translate }}" 
										ng-model="user.postalcode"															
									>
								</div>

							<!-- </div> -->

							

					</div>
				</div>

				<div 
					class="form-group email-group" 
					ng-class="{ 'has-error': (submited  && ( credentials.email.$invalid) || serverError) }" >

					<label class="col-lg-3 control-label" translate >register.email</label>
					<div class="col-lg-9 form-item">
						<input 
							type="email" 
							class="form-control" 
							name="email" 
							placeholder="{{ 'register.email' | translate }}"
		 					ng-model="user.email"
		 					required >

						<div class="error-tip" >						
								<span ng-show="credentials.email.$error.email" translate > register.email.invalid</span>
								<span ng-show="credentials.email.$error.required" translate > register.email.required</span>
								<span ng-show="serverError"> 
									{{ 'register.email.duplicate' | translate }} <br>
									<a ui-sref="forgot({ 'email': user.email })" translate>register.password.forgot</a>
								</span>					
						</div>

					</div>

				</div>

				<div class="form-group password-group" ng-class="{ 'has-error': (submited  && credentials.password.$invalid) }" >
					<label class="col-lg-3 control-label" translate >register.password</label>
					<div class="col-lg-9 form-item">
						<input 
							type="password" 
							class="form-control" 
							name="password" 
							ng-model="user.password"
							placeholder="{{ 'register.password' | translate }}" 
							required >

						<div class="error-tip"  >													
							<span ng-show="credentials.password.$error.required" translate > register.password.required</span>
						</div>					
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 control-label"></label>
					<div class="col-lg-9">
						<label translate >register.warning</label>
					</div>
				</div>

				<div class="form-group buttons-group">
					<div class="col-lg-offset-3 col-lg-9">
						<div class="pull-right">
							<a ui-sref="index" class="btn btn-link btn-lg back-button"><i class="fa fa-caret-left"></i>&nbsp;{{ 'register.back' | translate}}</a>
							<button class="btn btn-lg btn-imt-primary three-d register-button " translate ng-click="register()" >register.register</button>
							
						</div>
					</div>
				</div>
			</fieldset>

		</form>

		

</div>

      