<!-- <div class="login-view">
		
	<h2 class="form-signin-heading"><%= @t "login.title" %></h2>
	<div class="alert alert-danger" style="display: none"></div>
	<input type="text" class="form-control" placeholder="<%= @t "login.email" %>" autofocus="" name="username">
	<input type="password" class="form-control" placeholder="<%= @t "login.password" %>" name="password">
	<div class="login-buttons">
		<a class="btn btn-lg btn-link register-button" data-sate="app:register" ><%= @t "login.register" %></a>
		<button class="btn btn-lg btn-primary login-button" ><%= @t "login.login" %></button>
	</div>
</div>

       -->