


<div class="admin-users">

	<a ui-sref="admin.new" > <i class="fa fa-plus"></i> &nbsp; {{ 'admin.users.add' | translate }}</a>
	
	<ul class="nav nav-tabs pull-right">
	  <li ng-class="{'active': $stateParams.status == null }" >
	  	<a ui-sref="admin.users({status: null})" translate >admin.users.filter.all</a>
	  </li>
	  <li ng-class="{'active': $stateParams.status == 'pending' }" > 
		<a ui-sref="admin.users({status: 'pending'})" translate >
			admin.users.filter.pending 
			<!-- &nbsp;<span class="badge pull-right">42</span> -->
		</a>
	  </li>  
	  <!-- <li ng-class="{'active': $stateParams.role == 'buyer' }"> <a ui-sref="admin.users({role: 'buyer'})">Validated</a></li>	   -->
	</ul>

	
	
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th translate>admin.users.name</th>
				<th colspan="2" translate>admin.users.company</th>
				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td>
					<a ui-sref="admin.user({ 'userId': user._id })">
						{{user.firstname}} {{user.lastname}}
						<span class="label label-default arrowed arrowed-righ" ng-show="user.status == 'pending'" translate>admin.users.pending</span>
						<span class="label label-default label-danger arrowed-in" ng-show="user.status == 'rejected'" translate>admin.users.rejected</span>	

						<span class="label label-info arrowed-in-right arrowed" ng-show="user.role == 'admin'" translate>admin.users.admin</span>								
					</a>
				</td>
				<td>
					<a ui-sref="admin.user({ 'userId': user._id })">
						{{user.lastname}} 						
					</a>
				</td>
				<td class="icons-col">
					<a ng-click="removeUser(user)" translate>
						<i class="fa fa-trash-o bigger-130"></i>
					</a>
				</td>
			</tr>	
		</tbody>
		
	</table>
		
	

</div>

