.spy-about .about-view .about-content
	opacity: 1
	// animation: flipInX 2.5s
	animation: flipInX 1s


.about-view
	
	position: relative

	padding-top: 100px

	.cover
		width: 100%
		// height: 500px

	.about-content		
		max-width: 700px
		color: white
		position: relative
		font-family: 'agency_fbbold'
		padding: 5px
		opacity: 0
		// transition: opacity .5s ease


		font-size: 1.3em

		h1
			font-family: agency_fbbold
			text-transform: uppercase
			margin-bottom: 30px

		@media (min-width: $screen-lg)

			padding-left: 30px
			position: absolute
			top: 100px
			left: 220px
			background-color: rgba(0, 0, 0, 0.6)


	
