.article-edit-view{
	background: white;
	padding: 20px 20px;
	.title-group input{
		font-size: 3em;
		height: 70px;
		font-weight: 600;
		border: 0;
		background: transparent;
		@include imt-placeholder{
			color: #b3b3b1;}}
	.content-group{
		.form-item{
			padding-left: 30px;}
		.article-content{
			width: 100%;
			min-height: 300px;
			-webkit-appearance: none;
			&:focus{
				outline: none;}}
		.medium-editor-placeholder:after{
			color: #b3b3b1 !important;}}
	.dropdown-toggle{
		background: whitesmoke;
		border: 1px solid whitesmoke ;
		border-left: 0;
		margin-left: 2px !important;
		color: #555;
		@include imt-hover(".active"){
			border: 1px solid $imt-primary-color;
			color: white;
			background: $imt-primary-color !important;}}
	.open .dropdown-toggle{
		background: $imt-primary-color;}
	.dropdown-menu{
		background: whitesmoke;
		border-radius: 3px;
		border: 2px solid white;
		li {
			a {
				text-transform: uppercase;
				font-size: 1.5em;
				color: #555;
				@include imt-hover{
					background: $imt-primary-color !important;
					color: white;}}}}
	.article-file-chooser{
		background: transparent;
		.image-chooser-wrapper{
			background: transparent;
			margin-top: -25px ;
			margin-left: -55px;
			margin-right: -55px;
			.bottom-controls{
				position: absolute;
				top: 125px;
				right: -5px;
				z-index: 5000;
				i{
					font-size: 15px;
					background: rgba(0, 0, 0, .4);
					padding: 5px;
					padding-left: 10px;
					padding-right: 10px;
					color: white;}
				padding-right: 5px;}
			.image-chooser{
				max-height: 100px !important;
				&.has-image{
					max-height: 150px !important;}
				.uploader{
					background: transparent;
					text-align: left;
					padding-left: 55px;
					margin-top: 15px;
					i{
						color: #b3b3b1;
						font-size: 80px;}}}}}
	.article-status{
		font-weight: 100;
		font-style: italic;
		vertical-align: bottom;}
	.uploading-overlay{
		position: absolute;
		background: rgba(100, 100, 100, .7);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 5000;
		h1{
			margin: 0 auto;
			margin-top: 300px;
			display: table;}
		.progress{
			background: transparent;
			width: 250px;
			height: 5px;
			margin: 0 auto;
			.progress-bar{
				background: $imt-primary-color;
				float: left;}}}
	@media (min-width: $screen-sm-min){
		padding: 20px 50px;}}