.articles-view
	// width: 600px
	// margin: 70px auto
	margin-top: 80px
	color: white
	animation: fadeInLeft 1s


	.new-article-block
		padding-top: 40px
		a.btn
			font-size: 1.3em
	
	.articles-categories

		margin: 0 auto
		+clearfix()
		width: 500px


		.category
			height: 50px
			width: 50px
			background-size: contain
			background-repeat:no-repeat
			float: left
			margin: 20px
			cursor: pointer

			&.news
				background-image: url('/resources/img/product_news_normal.png')

				+imt-hover("&.active")
					background-image: url('/resources/img/product_news_over.png')

			&.media
				background-image: url('/resources/img/in_the_media_normal.png')

				+imt-hover("&.active")
					background-image: url('/resources/img/in_the_media_over.png')

			&.testimonial
				background-image: url('/resources/img/testimonial_normal.png')

				+imt-hover("&.active")
					background-image: url('/resources/img/testimonial_over.png')



	.article

		&.draft
			h1:after
				content: '*'
				opacity: .5

			.article-data, .read-more
				opacity: .6

			// opacity: .8

			// +imt-desktop-hover
			// 	opacity: 1

		margin-bottom: 30px
		height: 350px
	
		h1
			font-size: 3em
			margin-bottom: 3px			
			cursor: pointer
			min-height: 91px

		.article-info
			margin-bottom: 10px

			.published-date
				font-weight: 300
				font-size: .9em

		.article-data	
			max-height: 195px
			overflow: hidden

			.content
				margin-bottom: 0px

			.media-content
				position: relative
				height: 195px
				width: 100%
				// padding-bottom: 56.25%
				// padding-top: 30px
				// height: 0
				overflow: hidden


			.imt-image-wrapper
				max-height: 100px	
				cursor: pointer
				margin-bottom: 10px
			@media (max-width: $screen-lg-min)
				.imt-image-wrapper
					max-height: 200px
			@media (max-width: $screen-xs-min)
				.imt-image-wrapper
					max-height: 400px


		p
			padding-bottom: 10px
			// margin-bottom: 20px

		.read-more
			font-weight: 600
			// font-size: 1.2em


	@media (min-width: $screen-xs-min)
		.articles-categories

			width: 500px


			.category
				height: 100px
				width: 100px
				background-size: 100px 100px
				background-repeat:no-repeat
				float: left
				margin: 20px
				cursor: pointer

		

		

