.articles-view
	width: 600px
	margin: 70px auto

	a.btn
		font-size: 1.3em

	.article

	
		h1
			font-size: 3em
			font-weight: 600
			color: #555
			margin-bottom: 3px			
		
		.article-info
			margin-bottom: 10px

			.published-date
				font-weight: 300
				font-size: .9em
		

		p
			padding-bottom: 20px
			margin-bottom: 20px

		&:not(:last-child) p
			border-bottom: 4px solid whitesmoke

