
.right-drawer
	
	background: $imt-drawer-bg

	.cart-drawer
		height: 100%
		
	.cart-view
		color: white
		padding-left: 0	
		width: 100%
		height: 100%
		position: relative
		overflow: scroll
		-webkit-overflow-scrolling: touch

		.continue-shopping
			padding: 0px
			height: 65px
			padding: 25px
			font-size: 1em
			margin-top: 0px
			// margin-bottom: 20px
			background: $imt-drawer-bg-alternate
			width: 100%
			color: #A4A4A4
			cursor: pointer

			+imt-hover
				color: lighten(#A4A4A4, 20%)

		.cart-items
			// +clearfix()
			padding: 0
			// height: 150px
			
			// -webkit-transform: translateZ(0)
			// height: 100%
			// position: absolute
			// top: 65px
			// left: 0
			// right: 0
			// bottom: 100px
				
			.cart-item	
				cursor: pointer
				padding: 5px 10px
				
				font-size: 1.2em
				+clearfix()
					
				.design-title
					font-weight: 300
					font-size: .9em

				+imt-desktop-hover
					background: $imt-drawer-bg-alternate

				.bundle-quantity
					float: right
					margin-top: -15px

				.product-title
					white-space: nowrap
					text-overflow: ellipsis
					overflow: hidden
					width: 150px
					display: inline-block



				.product-image
					width: 50px
					float: left
					margin-right: 10px


		.cart-bottom
			// position: absolute
			// bottom: 0px
			// left: 0px
			// right: 0px
			


			.cart-summary
				background: $imt-drawer-bg-alternate
				padding: 10px
				
				text-align: right			
				.cart-price
					font-size: 20px		
					font-weight: 600	

					
			.cart-buttons 
				background: $imt-drawer-bg
				text-align: right
				margin-top: 10px
				margin-bottom: 10px
				
				> a
					display: inline-block	
					margin: 8px	
					
					&.checkout
						width: 140px

					&.edit
						width: 80px
						color: #A4A4A4

		
		@media (min-width: $screen-sm-min)
			
			.cart-buttons > a
				margin: 10px
				&.checkout
					width: 180px

				&.edit
					width: 130px


			.cart-items .cart-item .product-title
				width: 200px
				
				

	


