.cart-detail

	.cart-items
		
		padding: 50px 0
		// max-width: 400px
		margin: 0 auto
			
		.cart-item	
			padding: 0
			margin-top: 10px
			font-size: 1.2em
			// height: 150px
			// background: whitesmoke
			// +clearfix()
			// border-left: 4px solid $imt-primary-color
	
			// .product-image
			// 	float: left

			&.removed
				opacity: .5
				

			.product-info
				padding: 10px
				// float: left
				display: block

				.design-title
					font-weight: 300

				.price
					font-size: 1em

				.cart-btn-group
					margin-top: 10px

			// +imt-hover
			// 	background: $imt-drawer-bg-alternate

			.bundle-quantity
				float: right

	.cart-title
		padding-top: 50px
		h1
			font-size: 3em

	.cart-summary
		padding: 50px
		
		background: whitesmoke				
		
		&.cart-summary
			text-align: left	

			.btn
				font-size: 1.5em

			.cart-price
				margin-bottom: 20px
				font-size: 3em



