.cart-detail
	color: #555555
	li
		list-style: none
	ul
		padding-left: 0

	.bundle-info
		margin: 10px 10px 30px 10px


		& > *
			display: inline-block
			vertical-align: top

		.product-info
			width: 250px
			
			.product-title
				font-weight: 100
				font-size: 30px

			.product-ref
				font-style: italic
				font-weight: 100

			.product-price
				font-size: 15px

		.composition-list	
			margin-left: 20px
			.composition-info
				margin: 10px

				& > span
					display: inline-block

				.design-label
					width: 300px
					padding-left: 10px
					font-size: 15px
					vertical-align: middle					

					.design-identifier
						font-weight: 100
						font-style: italic

				.composition-quantity
					width: 50px		
					text-align: center
					font-weight: 100
					font-size: 20px


	.cart-summary
		padding-left: 625px
		div
			padding-top: 5px
			font-size: 20px
			width: 250px
			border-top: 1px solid lightgray
			text-align: center

			.submit-cart
				margin-top: 20px
				margin-left: 25px


	.thanks
		margin-left: 20px

