.category-navigator
	width: auto
	height: auto	
	border-radius: 4px

	.category-view
		cursor: pointer
		margin-top: 10px
		margin-bottom: 10px
		padding-left: 10px
		padding-right: 10px
		white-space: nowrap

		.thumbnail
			background: none
			border-radius: 0			

			h4
				font-weight: 100
				font-size: 25px

		a:hover
			text-decoration: none
			.thumbnail
				h4
					text-decoration: none
					color: #045e9f
