.category-navigator
	margin: 0 auto
	padding-top: 100px
	max-width: 700px

	.category
	
		border: 5px solid white
		margin-bottom: 10px

		h1
			font-family: 'agency_fbbold'
			text-transform: uppercase
			color: white
			text-align: center
			font-size: 3.4em
			padding: 0px
			display: inline-block
			margin-top: 15px
			vertical-align: top

		+imt-hover
			background: #FD4E15
			
			


		.thumb

			display: inline-block
			padding: 10px
			padding-top: 15px
			max-width: 50px
			cursor: pointer
			height: 80px
			// height: 400px

			.image
				display: none

			img
				display: block
				margin: 0 auto
				width: 100%
				max-width: 150px
			
			

	@media (min-width: $screen-sm-min)

		.category
			border: 0

			h1
				padding: 20px
				display: block


			&.adult .thumb .image
				margin-top: -20px
				max-width: 120px

			+imt-hover
				background: transparent

			.thumb
				display: block
				padding-top: 40px
				border: 8px solid white
				max-width: 300px
				height: 400px


				+imt-hover
					background: #FD4E15
					.drawing
						display: none

					.image
						display: block


	
