.category-navigator
	margin: 0 auto
	margin-top: 100px
	max-width: 700px

	.category
	
		h1
			font-family: 'agency_fbbold'
			text-transform: uppercase
			color: white
			text-align: center
			font-size: 3.4em
			padding: 20px

		&.adult .thumb .image
			margin-top: -40px


		.thumb

			border: 8px solid white
			padding: 10px
			padding-top: 70px
			max-width: 300px
			cursor: pointer
			height: 500px

			.image
				display: none

			img
				display: block
				margin: 0 auto
				width: 100%
				max-width: 150px
			
			+imt-hover
				background: #FD4E15
				.drawing
					display: none

				.image
					display: block


	
