
// body.state-contact .content-wrapper
// 	background: $imt-third-color

.contact-view

	margin-top: 100px

	.contact-view-inner

		max-width: 700px
		margin: 0 auto
		margin-top: 30px
		padding-left: 15px
		padding-right: 15px
		color: white

		.form-item
			padding-left: 0

		.btn
			background: $imt-primary-color
			border: 3px solid white
			border-radius: 4px
			color: white

			+imt-hover
				background: $imt-secondary-color

		.address, .phone
			margin-top: 10px
			img
				margin-right: 10px

		.input-group
			span
				background: transparent
				border: 2px solid white
				border-right: 0
				border-top-left-radius: 4px
				border-bottom-left-radius: 4px
				color: white
				font-size: 1.5em
				padding-right: 0

			input
				border-left: 0

		.focused .input-group span, .focused .input-group input, textarea:focus
			background: $imt-secondary-color



		.contact-info
			margin-bottom: 20px
			margin-top: 20px

		h1
			font-family: 'agency_fbbold'
			text-transform: uppercase
			color: white
			font-size: 3em


		textarea
			height: 250px

		input
			height: 50px

	
		input, textarea
			border: 2px solid white
			border-radius: 4px
			color: white
			background: transparent
			font-weight: 600

			+imt-placeholder
				color: white
				font-weight: 600


		.confirmation
			h1
				border-bottom: 4px solid $imt-primary-color
				margin-bottom: 15px
				padding-bottom: 5px