
// body.state-contact .content-wrapper
// 	background: $imt-third-color

.spy-contact .contact-view  .contact-view-inner
	h1
		opacity: 1
		animation: bounceInDown 1.5s

	form, .contact-info
		opacity: 1
		animation: bounceInDown 1.5s


	// 	animation: shake 2.5s

.contact-view

	padding-top: 100px
	// opacity: 0
	.contact-view-inner

		max-width: 700px
		margin: 0 auto
		margin-top: 30px
		padding-left: 15px
		padding-right: 15px
		color: white

		.form-item
			padding-left: 0

		.btn
			background: $imt-primary-color
			border: 3px solid white
			border-radius: 4px
			color: white

			+imt-hover
				background: $imt-secondary-color

		.address, .phone
			margin-top: 10px
			img
				margin-right: 10px

		.contact-info
			margin-bottom: 20px
			margin-top: 20px

		h1
			font-family: 'agency_fbbold'
			text-transform: uppercase
			color: white
			font-size: 3em
			opacity: 0

		form, .contact-info
			opacity: 0


		.confirmation
			h1
				border-bottom: 4px solid $imt-primary-color
				margin-bottom: 15px
				padding-bottom: 5px
