
.home
	width: 100%
	min-height: 100%
	height: 100%
	

	.screen		
		margin: 0
		padding: 0
		min-height: 100%
		background: $imt-background-color
		background: radial-gradient(at top, #FD637B , #FD637B , #FE3F5E )


		&.first
			height: 100%
			// background: red

		// &.second
		// 	background: blue

