.login-view
	margin-top: 200px

	form

		border: 1px solid #eee
		box-shadow: 0 0 3px #eee
	
		max-width: 470px
		padding: 30px 50px
		margin: 50px auto

		h1
			font-weight: 300
			margin-bottom: 20px		
		
		.form-control
			position: relative
			font-size: 1.2em
			height: auto
			padding: 10px
			// +box-sizing(border-box)

		.email-group
			margin-bottom: 2px

		// .password-group input
		// 	margin-top: -1px			

		.buttons-group
			height: 50px			

		.form-control:focus
			z-index: 2

		.forget-group
			border-top: 1px solid #EEEEEE
			margin-top: 40px
			padding-top: 5px
			a				
				float: right
				color: #888888

			// h3
			// 	font-size: 1.2em
			// 	margin-bottom: 5px
			// 	font-weight: 300
