#logo-region{
  background: url(/resources/img/ribbon.png);
  background-repeat: repeat-x;
  background-position: center;
  padding-bottom: 30px;
  width:  100%;
  padding-left: 105px;
  height:  150px;
  display: table;}
.logo-view{
  max-width: 330px;
  width: 70%;
  float:  left;
  padding-top: 30px;
  .logo-container{
    width:  250px;
    margin: 25px 25px 25px 25px;
    display: table;
    background-color: #FFFFFF;
    .img-container{
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      .img{
        margin: 0 auto;
        min-height: 10px;
        text-align: center;
        vertical-align: middle;
        display: table-cell;}}}}
.ribbon1-img{
  margin-left: 25px;
  height: 20px;
  position: absolute;}
.ribbon2-img{
  margin-left: 25px;
  height: 1px;
  position: absolute;}
@media (max-width: 768px){
  #logo-region{
    display: none;}}