.product-navigator
	width: auto
	height: auto
	border-radius: 4px	

	.product-title
		margin-top: 10px
		margin-bottom: 10px
		padding-left: 10px
		padding-right: 10px
		white-space: nowrap
		cursor: pointer

	.product-buttons
		margin-top: 10px
		margin-bottom: 0px
		overflow: auto
		> a 
			float: right

