.product-detail-view
	color: #555555

	h1
		font-weight: 100

	.item-thumbnail
		width: 100%

	.product-ref
		font-style: italic
		font-weight: 100

	.product-price
		font-size: 15px

	.product-description
		margin-top: 10px
		font-size: 12px
			


	.bundle-container
		margin-top: 20px
		padding-left: 40px
	

		table
			
			td 
				padding: 10px
			
			thead
				th.design-count
					text-align: center
					font-size: 10px
					font-weight: normal

			tbody	

				td.design-info
					width: 135px
					font-size: 15px
					.design-id
						font-weight: 300
						font-style: italic

					.design-label
						font-weight: 400

				td.design-count 	
					text-align: center
					width: 155px
					input
						text-align: center

						width: 150px
						padding: 15px
						background: none
						border: 0
						font-weight: 100

						font-size: 20px
						color: #555555

						border: 1px solid #eeeeee
						&:hover, &:focus
							border: 1px solid lightgray

						&:focus
							box-shadow: 0
							outline: none						

				tr:last-child td
					padding-bottom: 20px

				td.inner
					color: lightgray
					font-weight: 100
					font-size: 20px

					span
						white-space: nowrap


			tfoot

				td.bundle-summary-region
					padding: 0px
					font-size: 20px
					width: 220px
					text-align: center
					overflow: visible
					display: block
					
					.product-detail-bundle-summary
						padding-top: 20px
						border-top: 1px solid lightgray
						// display: inline
						// white-space: nowrap

					.total-quantity
						font-weight: 100
					.piece-unit
						font-weight: 100
						font-size: 12px
					.total-price
						font-weight: 200	

		