#ribbon-background{
	background: url(/resources/img/ribbon3.png);
	background-repeat: repeat-y;
	background-position: center;
	width: 1000px;
	float:  left;
	height: 100%;
	margin-left: -227px;
	margin-top: -29px;
	z-index: -1;
	position: fixed;}