.showcase-home-view
	height: 100%
	overflow: auto

	.adult-view
		position: relative
		overflow: hidden
		min-height: 100%
		width: 100%
		@media (max-width: $screen-sm-min)
			top: 130px
			min-height: 450px

		.big-caption
			// position: absolute

			margin: 0 auto
			margin-top: 100px
			text-align: center
			z-index: 100
			transition-property: all
			transition-duration: .5s
			transition-timing-function: cubic-bezier(0, 0.5, 0.5, 0.5)


			.rediscover, .smooth
				color: #faa21c
				font-size: 5.2em
				text-transform: uppercase
				font-weight: 800
				margin: 0
				// font-family: Ubuntu
				// font-family: "Ubuntu Condensed"
				font-family: 'agency_fbbold'
				@media (max-width: $screen-sm-min)
					font-size: 2.3em

			.caption
				color: white
				font-size: 1.1em
				margin-left: -50px
				margin-right: -50px
				text-transform: uppercase
				@media (max-width: $screen-sm-min)
					font-size: 0.5em


			.smooth
				color: white
				font-size: 8em
				@media (max-width: $screen-sm-min)
					font-size: 5.2em


		.adult-left
			z-index: -1
			position: absolute
			left: 200px
			width: 17%
			top: -800px
			transition: transform 3s ease
			transform: translate3d(0px,0px,0px)

		.adult-right
			z-index: -1
			position: absolute
			right: 200px
			width: 25%
			top: 100%
			transition: transform 3s ease
			transform: translate3d(0px,0px,0px)

		@media (max-width: $screen-lg)
			.adult-right
				top: 110%
		@media (max-width: $screen-sm-min)
			.adult-right
				top: 600px
				right: 10px
			.adult-left
				top: -560px
				left: 10px
				
	&.loaded .adult-view .adult-left
		transform: translate3d(0px,500px,0px)


	&.loaded .adult-view .adult-right
		transform: translate3d(0px,-300px,0px)

		
		// animation-duration: 3s

// menu item

