.type-navigator
	width: auto
	height: auto
	border-radius: 4px

	.type-view
		margin-top: 10px
		margin-bottom: 10px
		padding-left: 10px
		padding-right: 10px
		white-space: nowrap
		cursor: pointer

		.thumbnail
			border: 1px solid transparent
			background: none
			border-radius: 0

			h4
				font-weight: 100
				font-size: 25px
			