.admin-users{
	margin: 30px;
	ul.nav-tabs{
		margin-top: -30px;
		padding-right: 30px;
		border-bottom: 0px;
		li{
			width: 120px;
			text-align: center;}}
	.table {
		thead tr th{
			background: white;
			font-weight: 400;
			border-top: 0px;
			&:last-child{
				border-left: 0;}}}
	.icons-col{
		width: 10px;}}