.admin-users
	margin: 30px

	.nav-tabs li
		width: 120px
		text-align: center
		// white-space: nowrap

	.table thead tr th
		background: white
		font-weight: 400

		&:last-child
			border-left: 0

	.icons-col
		width: 10px




// .user-navigator

// 	.user-title
// 		list-style: none
// 		padding: 5px 10px
// 		margin-top: 10px
// 		+transition-property(border-left)
// 		+transition-duration(0.4s)
// 		border-left: 1px solid lightgray
// 		+imt-hover
// 			// padding-left: 20px
// 			// background: #555555
// 			cursor: pointer
// 			border-left: 4px solid #555555
// 			// color: white

// 		.name
// 			font-size: 20
// 			font-weight: 100
// 			white-space: nowrap

// 		.email
// 			font-size: 10
// 			font-weight: 200
// 	