<div class="about-view">
		<img src="/resources/img/about_banner.jpg" class="cover">
	
		
		<div class="about-content">
			<h1>The Paw Paw Story</h1> 
			<p><a href=" http://naturescare.com.au" target="_blank">Nature's Care</a> Paw Paw was established in 2012 with a view to providing Australian consumers with 100% all natural and petrochemical free Paw Paw products. We are committed to using only the finest plant-based and laboratory-made ingredients.</p>
			<p>At Paw Paw, we focus on earning the trust of our customers. That is why we insist on being involved in every step of the Paw Paw products' lifecycle—from conception to the point our products reach our customers.</p> 
			<p>Every Paw Paw product is manufactured to the exacting standards that were enshrined by Nature's Care over 20 years ago. We develop, manufacture, pack and distribute all Paw Paw products from our state-of-the-art production facility on Sydney’s northern beaches. And before we ship them out to Australia’s finest retailers, we submit our products to over 20 safety and quality checks.</p>
			<p>You can count on Paw Paw.</p>

		</div>


		
	
</div>
