<div class="showcase-home-view" ng-class="{loaded: loaded}">
		
		<div class="adult-view col-xs-12">
			<div class="big-caption col-xs-3">
				<img src="/resources/img/adult_left.png" class="adult-left-static">


			</div>
			<div class="big-caption col-xs-9">
				<h1 class="rediscover" fittext=".5" fittext-max="150">Rediscover</h1>
				<h1 class="smooth" fittext=".34" fittext-max="220">Smooth</h1>
				<div class="caption">
					Nourshing, all natural shampoos, cleaners, Hydrating<br>
					products and our famous balms and ointments.     
				</div>	
			</div>
			
			<!-- <img class="adult-left" src="/resources/img/adult_left.png" alt=""> -->
			<img class="adult-right" src="/resources/img/adult_right.png" alt="">
		
			
		</div>

		
	

</div>