<img src="/resources/img/about_banner.jpg" class="magicpro-item">
<div class="about-view">

	<h1>About Us</h1>


	<p >

		MagicPro (Australia) Pty Ltd is a family owned and wholesale distributor. Our primary goal is to provide outstanding party products, giftware products and household products to retail businesses and other wholesalers. Our party products include full range of white and colour disposable plates, cups and cutleries; we have giftware products such as tissue wrapping papers, gift wrapping rolls, gift bags and gift boxes; and household products such as cleaning products and personal care products.<br ><br >

		MagicPro is an Australian company based in Sydney, which prides itself on fast delivery, quality products and friendly service. Whether you prefer to collect the stock yourself, or have it delivered, we always aim to have your orders deliver to you as quickly and efficiently as we can.<br ><br >

		Our range is constantly expanding and improving, please come visit our showroom.<br ><br >

	</p>

</div>