<ul class="breadcrumb">
		
	<!-- Shop -->
	<li ng-if="$state.includes('shop') || $state.includes('cart') || $state.includes('search')" >
		<i class="icon-home home-icon"></i>
		<a ui-sref="shop.categories" class="breadcrumb-home" translate>
		 breadcrumb.home
		</a>
	</li>

	<li ng-if="data.category">
		<a ui-sref="shop.types({ category: data.category.slug })" >
		 {{data.category.title}}
		</a>
	</li>

	<li ng-if="data.type">
		<a ui-sref="shop.products({ category: data.category.slug, type: data.type.slug})" >
		 {{data.type.title}}
		</a>
	</li>


	<li ng-if="data.product">
		<a  ui-sref="shop.product({ category: data.category.slug, type: data.type.slug, product: data.product.slug})" >
		 {{data.product.title}}
		</a>

	</li>

	<li ng-if="$state.includes('shop.editproduct')">
		<span translate> breadcrumb.product.edit </span>				
	</li>

	<li ng-if="$state.includes('cart')">
		<a ui-sref="cart" translate>
			breadcrumb.cart
		</a>
	</li>



	<!-- Admin -->
	<li ng-if="$state.includes('admin')" >
		<i class="icon-home home-icon"></i>
		<a ui-sref="admin" class="breadcrumb-home" translate>
		 	breadcrumb.admin
		</a>
	</li>

	<li ng-if="$state.includes('admin.users') || $state.includes('admin.user')" >
		<a ui-sref="admin.users" translate>
		 	breadcrumb.admin.users
		</a>
	</li>

	<li ng-if="$state.includes('admin.user')" >
		<a ui-sref="admin.users" >
		 	 {{user.firstname}} {{ 'breadcrumb.admin.user' | translate }}
		</a>
	</li>


</ul>
<div class="nav-search" id="nav-search" ng-show="$state.includes('shop')">
	<form class="form-search">
		<span class="input-icon">
			<input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" ng-model="search.title">
			<i class="nav-search-icon fa fa-search"></i>
		</span>
	</form>
</div>


