<ul class="breadcrumb">

	<!-- Shop -->
	<li ng-if="$state.includes('shop') || $state.includes('cart') || $state.includes('search') " >
		<i class="icon-home home-icon"></i>
		<a ui-sref="shop.products" class="breadcrumb-home" translate>
		 breadcrumb.home
		</a>
	</li>

	<li ng-if="$state.includes('shop.search')">
		<a ui-sref="shop.search" translate>
			search.home
		</a>
	</li>

	<li ng-if="$state.includes('shop.productsbycategory')">
		<span>{{ data.category.title }}</span>
	</li>

	<li ng-if="$state.includes('shop.productsbytype')">
		<a ui-sref="shop.productsbycategory({ category: data.category.slug })" >
		 	{{data.category.title}}
		</a>
	</li>

	<li ng-if="$state.includes('shop.productsbytype')">
		<span>{{data.type.title}}</span>		 	
	</li>

	<li ng-if="$state.includes('shop.product')">
		<a  ui-sref="shop.product({ category: data.category.slug, type: data.type.slug, product: data.product.slug})" >
		 {{data.product.title}}
		</a>

	</li>

	<li ng-if="$state.includes('shop.editproduct')">
		<span translate> breadcrumb.product.edit </span>				
	</li>

	<li ng-if="$state.includes('cart')">
		<a ui-sref="cart" translate>
			cart.preview
		</a>
	</li>	

	<!-- Admin -->
	<li ng-if="$state.includes('admin')" >
		<i class="icon-home home-icon"></i>
		<a ui-sref="admin" class="breadcrumb-home" translate>
		 	breadcrumb.admin
		</a>
	</li>

	<li ng-if="$state.includes('admin.users') || $state.includes('admin.user')" >
		<a ui-sref="admin.users" translate>
		 	breadcrumb.admin.users
		</a>
	</li>

	<li ng-if="$state.includes('admin.user')" >
		<a ui-sref="admin.users" >
		 	 {{user.firstname}} {{ 'breadcrumb.admin.user' | translate }}
		</a>
	</li>


</ul>

<!-- <div class="nav-search" id="nav-search" >
	<form class="form-search" ng-submit="searchProduct()">
		<span class="input-icon">
			<input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" ng-model="search.title">
			<i class="nav-search-icon fa fa-search"></i>
		</span>
	</form>
</div> -->


