
<div class="cart-detail">

	<div class="thanks" ng-show="saved"  >
		<h1 translate>preview.thank</h1>
		<p translate>preview.message</p>
		<a class="btn btn-imt-dimmed home btn-lg " ui-sref="index" translate>breadcrumb.home</a>
	</div>

	<div class="empty" ng-show="!saved && cart.isEmpty()"  >
		<h1 translate>cart.title</h1>
		<p translate>preview.empty.message</p>
		<a class="btn btn-imt-dimmed home btn-lg " ui-sref="index" translate>preview.continue.shopping</a>
	</div>
	
	<div ng-show="!saved && !cart.isEmpty()" class="cart-items row">

		<h1 ><i class="icon icon-cart"></i> {{ 'cart.title' | translate }}</h1>

		<div class="items">

			<div class="cart-item slide col-xs-12" ng-repeat="composition in cart.compositions()" ng-class="{ 'removed': !composition.quantity && !isFocused }" >
					
					<div class="product-image" imt-src="composition.design.image || composition.product.image" imt-size="s=400"></div>

					<div class="product-info" >
						
						<div class="product-description" ui-sref="shop.product({ category: composition.product.type.category.slug, type: composition.product.type.slug, product: composition.product.slug})" >
							<span class="product-title">{{ composition.product.title }}</span> 
							<span class="design-title" >/ {{ composition.design.label }}</span>
						</div>

						<div>
							<h4>
								<span>
									{{ composition.product.identifier }}
								</span>
								<span ng-show="composition.design.identifier">
									({{ composition.design.identifier}})
								</span>
							<h4>
						</div>

						<div class="price">
							{{ composition.product.price | currency:'$' }}
						</div>

						<div class="btn-group cart-btn-group display-inner">
							<span class="btn btn-default btn-icon"><i class="icon icon-cart"></i></span>
							<span class="btn-content">
								<!-- <a class="btn-clicker" ng-hide="composition.quantity > 0 || isFocused"   class="btn btn-default " ng-click="reAdd(composition)" >
									ADD							
								</a> -->
								<!-- ng-show="composition.quantity > 0 || isFocused"  -->
								<input 
									type="number"
									class="form-control" 
									
									ng-model="composition.quantity"
									ng-change="updateQuantity(composition)"
									ng-focus="isFocused = true; focusCartButton(composition, this); selectDesign(design)"
									ng-blur="isFocused = false; blurCartButton(composition, this)" 
									onClick="this.select()"
								>

								<span class="cart-inner">
									&times; {{composition.product.inner}}
								</span>
								<!-- ng-show="composition.quantity > 0 || isFocused" -->
								<span ng-click="remove(composition)" class="btn btn-default cross"  >
										<i>&times; </i>	
								</span>
							</span>

						</div>

					</div>					
					
			</div>
		</div>

		<div class="cart-price">
			{{cart.price() | currency:'$'}}				
		</div>
		<div class="buttons">
			<a class="btn btn-lg btn-imt-primary three-d checkout" ng-click="submit()" > <i class="fa fa-check"></i> {{'cart.checkout' | translate}}</a> 
		</div>
	</div>
	
</div>


