
<div class="cart-detail">

	<div class="thanks" ng-show="saved">
		<h1 translate>preview.thank</h1>
		<p translate>preview.message</p>
		<a class="btn btn-primary home btn-lg " href="#" translate>breadcrumb.home</a>
	</div>

	<ul ng-show="!saved && !cart.isEmpty()">
		
		<h1>Your Order</h1>
		
		<li class="bundle-info" ng-repeat="bundle in cart.bundles">
			<ul class="product-info">
				<a ui-sref="shop.product({ category: bundle.product.type.category.slug, type: bundle.product.type.slug, product: bundle.product.slug})" ><h1 class="product-title">{{ bundle.product.title }}</h1>	</a>
				<span class="product-ref" >{{bundle.product.identifier}} | </span> 
				<span class="product-price" >{{ bundle.product.price | currency:"$" }}</span> 				
			</ul>
			
			<ul class="composition-list">
				
				<li class="slide composition-info" ng-repeat="composition in bundle.compositions" ng-class="{ inactive: !(composition.quantity > 0) }"  > 

					<span class="design-image"> <imt-image src="{{composition.design.imageId || bundle.product.imageId}}" size="s=75" ></imt-image> </span>
					<span class="design-label">
						{{ composition.design.label || bundle.product.title }} <span class="design-identifier">({{ composition.design.identifier || bundle.product.identifier }})</span>
						<br>
						<span class="design-delete" ng-click="remove(bundle, composition)" > 
							<!-- <i class="fa fa-times-circle-o"></i>  -->
							<i class="fa fa-trash-o"></i> {{ 'preview.delete' | translate }}
							
						</span>
					</span>
					
					<span class="composition-quantity">
							<input type="number"
								min="0"
								max="9999"
								ng-maxlength="4"
								ng-model="composition.quantity"
								ng-change="updateQuantity(composition.design, bundle.product, composition.quantity)"
								class="hide-placeholder-onblur"	placeholder="0"
							>
					</span>

					<span class="inner">x {{bundle.product.inner}}</span>

					  
				</li>

				
			</ul>
						
		</li>

		<li class="bundle-info">
			<ul class="product-info"></ul>
			<ul class="composition-list">				
				<li class="composition-info ">
					<div class="cart-summary">
					{{ cart.price() | currency:'$' }} 		
					<br>
					<a ui-sref="shop.categories" class="btn btn-link submit-cart btn-lg "><i class="fa fa-caret-left"></i>&nbsp;{{ 'preview.back' | translate}}</a>
					<button class="btn btn-primary submit-cart btn-lg " ng-click="submit()" ng-disabled="cart.quantity() == 0" translate>preview.submit</button>
	
					</div>
					
				</li>		
			</ul>
		</li>

		
		
	</ul>

</div>


