
<div class="cart-detail">

	<div class="thanks" ng-show="saved">
		<h1>Thank you</h1>
		<p>Your order has been sent to our team.</p>
		<a class="btn btn-primary home btn-lg " href="#" >Home</a>			
	</div>

	<ul ng-show="!saved && !cart.isEmpty()">
		
		<h1>Your Order</h1>
		
		<li class="bundle-info" ng-repeat="bundle in cart.bundles">
			<ul class="product-info">
				<a ui-sref="shop.product({ category: bundle.product.type.category.slug, type: bundle.product.type.slug, product: bundle.product.slug})" ><h1 class="product-title">{{ bundle.product.title }}</h1>	</a>
				<span class="product-ref" >{{bundle.product.identifier}} | </span> 
				<span class="product-price" >{{ bundle.product.price | currency:"$" }}</span> 				
			</ul>
			
			<ul class="composition-list">
				
				<li class="composition-info" ng-repeat="composition in bundle.compositions" ng-class="{ inactive: !(composition.quantity > 0) }"  > 

					<span class="design-image"> <imt-image src="{{composition.design.imageId}}" size="s=75" ></imt-image> </span>
					<span class="design-label">{{ composition.design.label }} <br /><span class="design-identifier">({{ composition.design.identifier }})</span></span>
					
					<span class="composition-quantity">
							<input type="number"
								min="0"
								max="9999"
								ng-maxlength="4"
								ng-model="composition.quantity"
								ng-change="updateQuantity(composition.design, bundle.product, composition.quantity)"
								class="hide-placeholder-onblur"	placeholder="0"
							>
					</span>

					<span class="inner" ng-show="bundle.product.inner > 1">x {{bundle.product.inner}}</span>

					  
				</li>

				
			</ul>
						
		</li>

		<li class="bundle-info">
			<ul class="product-info"></ul>
			<ul class="composition-list">				
				<li class="composition-info ">
					<div class="cart-summary">
					{{ cart.price() | currency:'$' }} 		
					<br>
					<a href="#/products" class="btn btn-link submit-cart btn-lg "><i class="fa fa-caret-left"></i>&nbsp; Back</a>
					<button class="btn btn-primary submit-cart btn-lg " ng-click="submit()" ng-disabled="cart.quantity() == 0" >Submit</button>
	
					</div>
					
				</li>		
			</ul>
		</li>

		
		
	</ul>

</div>


