
<div class="cart-view" ng-click="hideDrawers()" >

	<h3  class="continue-shopping" > <i class="fa fa-angle-left"></i> &nbsp;&nbsp;{{'cart.continue.shopping' | translate}}</h3>


	<ul class="cart-items">
		
		<li class="cart-item slide" ng-repeat="composition in cart.compositions()" ui-sref="shop.product({ category: composition.product.type.category.slug, type: composition.product.type.slug, product: composition.product.slug})">
				
				<span class="product-title">{{ composition.product.title }}</span> 

				<span class="design-title" >/ {{ composition.design.label }}</span>
				
				<span class="bundle-quantity">{{ composition.quantity }} </span>
				
		</li>


	</ul>	
	
	<div class="cart-summary" ng-click="edit()" >
		<span class="cart-price"> {{ cart.price() | currency:"$" }}</span>		
	</div>

	<div ng-show=" cart.quantity() > 0 " class="cart-buttons">
		<a class="btn btn-imt-info three-d edit" ng-click="edit()" >  {{'cart.edit' | translate}}</a>
		<a class="btn btn-imt-primary three-d checkout" ui-sref="checkout" > <i class="fa fa-check"></i> {{'cart.checkout' | translate}}</a>
	</div>
	
</div>
