
<div class="cart-view container">
	
	<ul class="cart-items">
		<li ng-show=" cart.quantity() > 0 ">
			<!-- <h2>Description</h2> -->
			<div class="bundle-numbers">
				<h2>Quantity</h2>
				<h2 class="bundle-price">Price</h2>
			</div>
		</li>
		<li class="cart-item" ng-repeat="bundle in cart.bundles">
				<a ui-sref="shop.product({ category: bundle.product.type.category.slug, type: bundle.product.type.slug, product: bundle.product.slug})">
					<span class="bundle-title">{{ bundle.product.title }}</span>
				</a>
				<div class="bundle-numbers">
					<span class="bundle-quantity">{{ bundle.quantity() }}</span> 
					<span class="bundle-price">{{  bundle.price() | currency:'$' }}</span> 
				</div>
		</li>
	</ul>
	

	
	<div class="cart-summary">
		<i class="cart-icon icon-cart icon-large" ></i> <span class="cart-price"> {{ cart.price() | currency:"$" }}</span>
		<div ng-show=" cart.quantity() > 0 ">
			<a class="btn btn-primary  submit" ui-sref="cart" >Preview	</a>
		</div>
	</div>
	
</div>
