<div class="category-navigator ">

	<div class="col-xs-12 col-sm-6 category adult" ui-sref="shop.productsbycategory({'category': 'adults'})" >
		<div class="thumb">
			<img src="/resources/img/drawing-adults.png" class="drawing">		
			<img src="/resources/img/image-adults.png" class="image">			
		</div>
		<h1>Adults</h1>	
	</div>
		<div class="col-xs-12 col-sm-6 category baby"  ui-sref="shop.productsbycategory({'category': 'baby'})" >
		<div class="thumb">
			<img src="/resources/img/drawing-baby.png" class="drawing">		
			<img src="/resources/img/image-baby.png" class="image">			
		</div>
		<h1>Baby</h1>	
	</div>
	

</div>

