<div class="contact-view">
	<div class="row">

		<div class="col-md-6 col-sm-12 google-maps">
			


			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3313.899241349744!2d150.946825!3d-33.840709!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b1297e73d37d627%3A0x10504fd44fc75d96!2s1%2F222+Woodpark+Rd!5e0!3m2!1sen!2s!4v1393255731999" width="600" height="300" frameborder="0" style="border:0"></iframe>


		</div>


		<div class="col-md-6 col-sm-12">
				
			<h1 translate>contact.title</h1>

			<address>
			  <strong>Office</strong><br>			
				Unit 1, 222 Woodpark Rd.<br />
				Smithfield, NSW 2164<br />
				Australia<br />		  
			</address>

			<address>
			  <strong>Contact</strong><br>	
			  <abbr title="Phone">P:</abbr> (02) 9757 2998 <br />
			  <abbr title="Fax">F:</abbr> (02) 9757 2658 <br />
			  <a href="mailto:#">magicpro-aust@bigpond.com</a>
			</address>

			<address>
			  <strong>Postal</strong><br>	
			  PO Box 689<br />
			  Cherrybrook NSW 2126<br />
			  Australia
			</address>


		</div>


	</div>
</div>