<div class="product-edit-view container" ng-class="{'single-design':  product.designs.length == 1 }"  >
	<form novalidate name="productform" >
	
		<div class="col-md-4">
			
			<div class="product-title form-group" ng-class="{ 'has-error': (submited && (productform.title.$invalid) ) }" >
				<div class="form-item">
					<input type="text" ng-model="product.title" placeholder="{{ 'product.edit.title' | translate }}" name="title" required >

					<div class="error-tip"  >						
						<span  translate> product.edit.validation.title.required </span>	
					</div>

				</div>    			

			</div>

			<p class="product-ref-price">
				

				<div class="product-ref form-group" ng-class="{'has-error': submited && (serverError == 'duplicate.identifier' || productform.identifier.$invalid ) }" > 
					
					<div class="form-item">
						<input type="text" ng-model="product.identifier" placeholder="{{ 'product.edit.identifier' | translate }}" ng-change="resetServerError()" required name="identifier">
						
						<div class="error-tip bottom"  >						
							<span ng-show="serverError == 'duplicate.identifier'" translate> product.edit.validation.identifier.duplicate </span>	
							<span ng-show="productform.identifier.$invalid" translate> product.edit.validation.identifier.required </span>	
						</div>

					</div>

				</div> 
				
				


				<div class="product-price form-group" ng-class="{ 'has-error': (submited && (productform.price.$invalid) ) }" >
					<div class="form-item"   >
						<span>$ <input type="number" ng-model="product.price" placeholder="{{ 'product.edit.price' | translate }}" name="price" required >
						</span>
						<div class="error-tip"  >						
							<span  translate> product.edit.validation.price.required </span>	
						</div>
					</div>
				</div>

				<button class="btn btn-light category-button" ng-click="open()">{{ product.type.category.title }} <i class="fa fa-angle-right"></i> {{ product.type.title }}</button> 
			</p>


			
			<div imt-file-chooser="{ 'model': product, 'field': 'image', size: 'w=222' }" class="large" ></div>			
		
			<p class="product-description">
				<textarea ng-model="product.description" placeholder="{{ 'product.edit.description' | translate }}"></textarea>			
			</p>

		</div>
		<div class="col-md-8 row bundle-container" imt-drop-zone="addDesigns($files)">

		<div class="no-designs well" ng-show="product.designs.length == 0">
			<button class="btn" ng-click="addDesign()"><i class="fa fa-plus"></i> {{ 'product.edit.new.design' | translate }} </button>
		</div>

		<table class="bundle-table" ng-show="product.designs.length > 0"  >
				
				<tbody>
					<tr ng-repeat="design in product.designs" class="design" >
						
						<td class="design-thumbnail">
							<div imt-file-chooser="{ 'model': design, 'field': 'image', size: 's=70' }" class="small" ></div>
						</td>

						<td class="design-info" >
							<input type="text" ng-model="design.identifier" class="design-identifier"><input type="text" ng-model="design.label" class="design-label">								
						</td>

						<td class="inner" >
							<span class="product-inner" >
								&times; <input type="text" ng-model="product.inner">
							</span> 						
						</td>
						
						<td class="delete-design" >
							<button class="btn btn-sl btn-danger"  ng-click="removeDesign(design)" translate> <i class="fa fa-trash-o"></i> productnavigator.edit.delete </button>
						</td>
												
					</tr>					
				</tbody>
				<tfoot>
						<tr>
							<td ></td>
							<td colspan="3" class="add-design-button" >
								<button class="btn" ng-click="addDesign()"><i class="fa fa-plus"></i> {{ 'product.edit.new.design' | translate }} </button>
							</td>
						</tr>
				</tfoot>
			</table>


			<p class="buttons">
				<button class="btn btn-link btn-lg" ui-sref="shop.products()" >  {{ 'product.edit.cancel' | translate }} </button>	
				<button class="btn btn-primary btn-lg save" ng-click="save()" ng-disabled="saving" >
					<div  class="pending-state"  ng-show="uploader.isUploading && saving"  >
						<div class="progress active" >
							<div class="progress-bar progress-bar-success" data-ng-style="{width: (uploader.progress) + '%'}"></div>
						</div>
					</div>

					
				 	<span ng-show="!saving" ><i class="fa fa-check"></i> {{'product.edit.save' | translate}}</span>
				 	<span ng-show="saving && uploader.isUploading" translate>product.edit.uploading</span>
				 	<span ng-show="saving && !uploader.isUploading" translate>product.edit.saving</span>
				 	
				</button>
			</p>
				
			
		</div>	

	</form>






</div>


