<div class="product-edit-view row" ng-class="{'single-design':  product.designs.length == 1 }"  >
	
	<form novalidate name="productform" class="form-horizontal" >
	
		<div class="form-group" >
			<h1 class="col-md-12" translate> {{ !product._id ? 'product.edit.new.title' : 'product.edit.edit.title' }}</h1>
		</div>

		<div class="form-group  form-header" > {{'product.edit.header.general' | translate}}</div>

		<div>
			
			<div class="product-title form-group" ng-class="{ 'has-error': (submited && (productform.title.$invalid) ) }" >
				<label class="col-md-3 control-label" translate >product.edit.title</label>
				<div class="col-md-9 form-item">
					<input class="form-control" type="text" ng-model="product.title" placeholder="{{ 'product.edit.title' | translate }}" name="title" required >

					<div class="error-tip"  >						
						<span  translate> product.edit.validation.title.required </span>	
					</div>

				</div>    			

			</div>

			<div class="product-title form-group" ng-class="{ 'has-error': (submited && (productform.headline.$invalid) ) }" >
				<label class="col-md-3 control-label" translate >product.edit.headline</label>
				<div class="col-md-9 form-item">
					<input class="form-control" type="text" ng-model="product.headline" placeholder="{{ 'product.edit.headline' | translate }}" name="headline" >
				</div>    			

			</div>

			<!-- ng-class="{ 'has-error': (submited && (productform.price.$invalid) ) }" -->
			<div class="form-group"  >
				<label class="col-md-3 control-label" translate >product.edit.category</label>
				<div class="col-md-9 form-item product-category"  >
					<button class="btn btn-imt-dimmed category-button" ng-click="open()">
						<span ng-show="product.type">{{ product.type.category.title }} <i class="fa fa-angle-right"></i> {{ product.type.title }}</span>
						<span class="placeholder" ng-show="!product.type"> {{ 'product.edit.category' | translate }} <i class="fa fa-angle-right"></i></span>
					</button> 						
				</div>
			</div>


			<!-- ng-class="{ 'has-error': (submited && (productform.price.$invalid) ) }" -->
			<div class="form-group"  >
				<label class="col-md-3 control-label" translate >product.edit.description</label>
				<div class="col-md-9 form-item product-description"  >
					<textarea class="form-control" ng-model="product.description" placeholder="{{ 'product.edit.description' | translate }}"></textarea>								
				</div>
			</div>

			<div class="form-group"  >
				<label class="col-md-3 control-label" translate >product.edit.ingredients</label>
				<div class="col-md-9 form-item product-ingredients"  >
					<textarea class="form-control" ng-model="product.ingredients" placeholder="{{ 'product.edit.ingredients' | translate }}"></textarea>
				</div>
			</div>


			<!-- <div class="form-group"  >
				<label class="col-md-3 control-label" translate >product.edit.featured</label>
				<div class="col-md-9 form-item product-featured"  >
					<a btn-checkbox class="btn btn-imt-dimmed btn-lg" ng-model="product.featured" > 
						<span  ng-show="product.featured" ><i class="fa fa-check"></i> {{'product.edit.featured' | translate}} </span>
						<span  ng-hide="product.featured" > Off </span>
					</a>
				</div>
			</div> -->

		
			
			<div class="form-group">
				<label class="col-md-3 control-label" translate >product.edit.image</label>
				<div class="product-img col-md-9"   >
										
					<div class="product-file-chooser ">
						<div imt-file-chooser="{ 'model': product.designs[0], 'field': 'image', size: 's=130' }" class="medium" ></div>
					</div>
										
				</div>
				
			</div>
				
		


			
			<p class="buttons pull-right">
				<button class="btn btn-link btn-lg" ui-sref="shop.products()" >  {{ 'product.edit.cancel' | translate }} </button>	
				<button class="btn btn-imt-primary three-d btn-lg save" ng-click="save()" ng-disabled="saving" >
					<div  class="pending-state"  ng-show="uploader.isUploading && saving"  >
						<div class="progress active" >
							<div class="progress-bar progress-bar-success" data-ng-style="{width: (uploader.progress) + '%'}"></div>
							<!-- <div class="progress-bar progress-bar-success" data-ng-style="{width: 30 + '%'}"></div> -->
						</div>
					</div>

					
				 	<span ng-show="!saving" ><i class="fa fa-check"></i> {{'product.edit.save' | translate}}</span>
				 	<span ng-show="saving && uploader.isUploading" translate>product.edit.uploading</span>
				 	<span ng-show="saving && !uploader.isUploading" translate>product.edit.saving</span>
				 	
				</button>
			</p>
				
			
		</div>	

	</form>


</div>


