<div class=" home">
	
	<div class="main-block-carousel row">
		
		<div  class="car">
			<div imt-src="slide.image" imt-size="w=940" class="car-image" ng-repeat="slide in slides" ng-class="{'active': $parent.currentSlide == slide}">

			</div>
			<div class="flexible-caption">
				<h1 translate>home.title1</h1>
				<h2 translate>home.title2</h2>
				<a ui-sref="shop.products" class="btn btn-lg btn-imt-dimmed three-d" ng-show="!user" translate>home.apply<i class="fa fa-caret-right"></i> </a>
				<a ui-sref="shop.products" class="btn btn-lg btn-imt-dimmed three-d" ng-show="user" translate>home.order<i class="fa fa-caret-right"></i> </a>
			</div>
		</div>



	</div>

	 <div class="categories ">
		<div class="row">
			<div class="col-xs-6 col-md-2 mini-block" bindonce="category" ng-repeat="category in categories" ui-sref="shop.productsbycategory({category: category.slug})" >
				<div imt-src="category.image" imt-size="s=400"></div>
				<div class="category-label" bo-text="category.title"></div>
			</div>
		</div>
	</div>


	

	<div class="product-navigator featured-products row"  ng-show="featured.length > 0">

		<h1 translate>productnavigator.featured</h1>
		
		<div bindonce class="slide product-title col-lg-3 col-sm-4 col-xs-6" ng-repeat="product in featured" ng-class="{ 'in-cart': quantities[product._id][product.designs[0]._id] > 0, 'hover': hover == product }" >		
			<div class="thumbnail" >
			
				<div class="caption" >

					<div class="top-info" >
						<h4  ><a  ng-click="goToProduct(product)" bo-text="product.title" ></a></h4>
						<p>
							<!-- <span class="ref">{{ product.identifier }}</span> |  -->
							<span class="price" bo-text="product.price | currency:'$'" ></span>	
							<span bo-show="isRole('admin')">
							
							| <a  ng-click="goToProduct(product, 'shop.editproduct')" translate>productnavigator.product.edit</a>

							</span>

						</p>
							<div class="image-wrapper" >
								<a ng-click="goToProduct(product)" >									
									<div imt-src="product.image" imt-size="s=300" ng-class="{ 'visible': focusedDesign == null }" ></div>								
								</a>	
							</div>
					
					</div>

					

				</div>

			</div>		
		</div>
	</div>

	<div class="retail_partner">
		<div class="wrap">
			<div class="client_title">
				<h3><span>Where to Buy</span>Our Retail Partners</h3>
			</div>
			<div class="client_logo_area">
				<li class="client_logo col-lg-2 col-sm-4 col-xs-6">
					<a href="http://www.dollarking.com.au/">
						<img src="/resources/img/partner/Dollar_King.jpg" class="color-logo" alt="">
						<img src="/resources/img/partner/Dollar_King_grey.jpg" class="grey-logo" alt="">
					</a>
				</li>
				<li class="client_logo col-lg-2 col-sm-4 col-xs-6">
					<a href="http://www.dollarking.com.au/">
						<img src="/resources/img/partner/Hot_Dollar.jpg" class="color-logo" alt="">
						<img src="/resources/img/partner/Hot_Dollar_grey.jpg" class="grey-logo" alt="">
					</a>
				</li>
				<li class="client_logo col-lg-2 col-sm-4 col-xs-6">
					<a href="http://www.thebasewarehouse.com.au/">
						<img src="/resources/img/partner/The_Base_Warehouse.jpg" class="color-logo" alt="">
						<img src="/resources/img/partner/The_Base_Warehouse.jpg" class="grey-logo" alt="">
					</a>
				</li>
				<li class="client_logo col-lg-2 col-sm-4 col-xs-6">
					<a href="http://www.besthomessentials.com/">
						<img src="/resources/img/partner/Best_Home_Essentials.jpg" class="color-logo" alt="">
						<img src="/resources/img/partner/Best_Home_Essentials_grey.jpg" class="grey-logo" alt="">
					</a>
				</li>
				<li class="client_logo col-lg-2 col-sm-4 col-xs-6">
					<a href="http://homequarters.businesscatalyst.com/">
						<img src="/resources/img/partner/HQ_Home_Quarters.jpg" class="color-logo" alt="">
						<img src="/resources/img/partner/HQ_Home_Quarters_grey.jpg" class="grey-logo" alt="">
					</a>
				</li>
				<li class="client_logo col-lg-2 col-sm-4 col-xs-6">
					<a href="http://www.ronis.com.au/">
						<img src="/resources/img/partner/Ronis.jpg" class="color-logo" alt="">
						<img src="/resources/img/partner/Ronis_grey.jpg" class="grey-logo" alt="">
					</a>
				</li>
			</div>
			<div class="clear"> </div>
		</div>
	</div>

</div>