<div class="left-drawer-content" >
	
	<!-- <form class="form-	arch" ng-submit="searchProduct(); hideDrawers()" ng-if="user">
		<div class="input-group margin-bottom-sm search-group">
			<span class="input-group-addon" > <i class="fa fa-search fa-fw"></i> </span>
			<input class="form-control" type="text" placeholder="Search..." ng-model="search.title">
		</div>
	</form>
 -->

	
	<!-- <ul class="side-categories menus" ng-if="user" >
		<li class="header">
			<a class="section-link" translate>menu.store</a>
		</li>
		<li class="menu">
			<a ui-sref="shop.products()" ng-click="selectedCategory = null; hideDrawers()" ng-class="{'active' : $state.includes('shop.products')}"  >All</a>	
		</li>

		<li class="category-title menu" ng-repeat="category in categories" ng-class="{'colapsed' : isCategoryToggled(category)}" >

			<a ui-sref="shop.productsbycategory({ 'category': category.slug})" ng-click="$parent.selectedCategory = category; $parent.selectedType = null" ng-class="{'active' : isCategoryActive(category)}" >{{category.title}}</a>
			
			<ul class="type-list" >
				
				<li class="type-title menu" ng-repeat="type in category.types" ng-click="$parent.$parent.selectedType = type; hideDrawers()" >				
					<a ui-sref="shop.productsbytype({ 'type': type.slug, 'category': category.slug })" ng-class="{'active' : isTypeActive(category, type)}" >	
						{{type.title}}				
					</a>
				</li>

			</ul>		
		</li>

	</ul> -->

	<ul class="global-menus menus" ng-click="hideDrawers()" >

		
		<li class="menu section-link" ng-class="{ 'active': $state.includes('home.showcase') && currentSpy == 'showcase'}" >
			<a ui-sref="home.showcase" translate>menu.home</a>
		</li>		

		<li class="menu section-link" ng-class="{ 'active': $state.includes('shop') }" >
			<a ui-sref="shop.products" translate>menu.store</a>
		</li>


		<li class="menu section-link" ng-class="{ 'active': $state.includes('home.about') && currentSpy == 'about' }" >
			<a ui-sref="home.about" translate>menu.about</a>
		</li>

		<li class="menu section-link" ng-class="{ 'active': $state.includes('blog') }" >
			<a ui-sref="blog" translate>menu.blog</a>
		</li>

		<li class="menu section-link" ng-class="{ 'active': $state.includes('home.contact') && currentSpy == 'contact' }" >
			<a ui-sref="home.contact" translate>menu.contact</a>
		</li>
		
		<li class="menu section-link" ng-class="{ 'active': $state.includes('admin') }" ng-if="isRole('admin')">
			<a ui-sref="admin" translate>menu.admin</a>
		</li>

	
		<li class="menu"  ng-if="user">
			<a ui-sref="account.profile" > 
				<i class="fa fa-user"></i> &nbsp;&nbsp;{{ 'menu.account' | translate }} 
			</a>
		</li>
		
		<li class="menu"  ng-if="user">
			<a ng-click="logout()" > <i class="fa fa-power-off"></i> &nbsp;&nbsp;{{'menu.logout' | translate}}</a>
		</li>

		<li class="menu" ng-if="!user">
			<a ui-sref="login" > </i>{{'menu.login' | translate}}</a>
		</li>


	</ul>

	<ul class="global-menus menus social-menus">
		<li class="menu section-link" >
			<a class="social-link twitter" target="_blank" href="https://twitter.com/NCPawPaw"><i class="fa fa-twitter"></i> {{'menu.twitter' | translate}}</a>												
		</li>
		<li class="menu section-link" >
			<a class="social-link facebook" target="_blank" href="https://www.facebook.com/pages/Natures-Care-Paw-Paw/1385305888367573?ref=tn_tnmn"><i class="fa fa-facebook"></i> {{'menu.facebook' | translate}}</a>						
		</li>
	</ul>

</div>

