<div class="product-detail-view container" ng-class="{'single-design':  product.designs.length == 1 }"  >
	
	<div class="row">
		<div class="col-md-4">
			<h1>{{ product.title}}</h1>
			<p class="product-ref-price">
				<span class="product-ref" >{{ product.identifier }} | </span> 
				<span class="product-price" >{{  product.price | currency:"$" }}</span> 
				<span ng-show="isRole('admin')" >
				| <a ui-sref="shop.editproduct({ category: product.type.category.slug, type: product.type.slug, product: product.slug})" ng-if="isRole('admin') && isUserValidated()" translate>product.edit</a>
				</span>
			</p>
			
			<div class="item-thumbnail" imt-src="product.image" imt-size="w=250" />			

			<p class="product-description">{{ product.description}}</p>
		</div>
		<div class="col-md-8 row bundle-container" >
		<table>
				<thead>
					<tr>
						<th colspan="2"></th>
						<th class="design-count" translate>product.many</th>
						<th class="design-count" translate>product.inner</th>
					</tr>
				</thead>
				<tbody  >
					
					<tr ng-repeat="design in product.designs">
						<td class="design-thumbnail">
							<div imt-src="design.image || product.image" imt-size="s=75" />
						</td>
						<td class="design-info">
							<span class="design-label">{{  design.label || product.title }}</span>
							<span class="design-id" >({{  design.identifier || product.identifier }})</span> 
							
						</td>
						<td class="design-count">
							<input
								type="number"
								min="0"
								max="9999"
								ng-maxlength="4"
								class="hide-placeholder-onblur"
								placeholder="0" ng-change="updateQuantity(design)" ng-model="quantities[design._id]" >
						</td>
						<td class="inner" >
							<span>&times; {{  product.inner }}</span>
						</td>
					</tr>
					
				</tbody>
				<tfoot>
						<tr>
							<td colspan="2"></td>
							<td class="bundle-summary-region" colspan="2" >
								<div class="slide product-detail-bundle-summary">
									<span class="total-quantity" > {{ cart.pieces(product) }}
										<span class="piece-unit" translate translate-values="{ amount: {{cart.pieces(product)}} }" > 
											general.unit.pieces
										</span> |
									</span>
									<span class="total-price">{{cart.price(product) | currency:"$" }}</span>
									
								</div>

							</td>
						</tr>
				</tfoot>
			</table>
			
		</div>
	</div>
</div>


