<html>

<head>
	<link rel="stylesheet" href="style.css">

</head>

<body >

<h1>Access Granted</h1>

Hi <%=user.firstname%>, <br /><br />

You have been granted access to <b>IMT</b>Design online order.<br /><br />

<a href="<%=homePage%>"><%=homePage%></a>
	
<hr />




</body>


</html>