<html>

<head>
	<link rel="stylesheet" href="style.css">

</head>

<body >

<h1>Access Granted</h1> <br />

Hi <%=user.firstname%>, <br /><br />

Welcome to the MagicPro online ordering system. <br />

<a href="<%=homePage%>"><%=homePage%></a> <br /><br />

If you are a first time user, we strongly recommend you read the following instructions. <br /><br />

To Order: <br /><br />
1. Click on "ORDER NOW" on the home page or choose the 1 of the 4 categories you wish to browse. <br /><br />

2. Choose the product range you wish to browse from the left or scroll down to browse the full range of products. Products are sorted by their item number and alternatively you may us the search function on the top left to find what you wish to order.<br /><br />

3. When you see an item of interest that you wish to order, click "ADD" to add the minimum order quantity, or "SHOW ALL" to browse full range of colours or designs.<br /><br />

4. The minimum order quantity of any one product, is one (1) inner. This quantity is set on the website and any additional quantities over the minimum must be a multiple of the inner unit as shown on the website. If you wish to order 2 or more minimum quantity, simply adjust the order quantity from 1 to 2 or more.<br /><br />

5. You may view your order at anytime by click the shopping cart on the top.<br /><br />

6. Once you have completed your order, click "CHECKOUT" and a sales summary will be shown. You can always delete any item or alter any quantity in this sales summary.<br /><br />

7. Select "Delivery" or "Pick Up" option for your order and insert special requirements or instructions for this order in the "Remarks" space provided then click "CONFIRM ORDER"<br /><br />

8. After confirming the order, a copy of the order will be send to your default email address.<br /><br />

If you encounter any problems regarding this system, please contact one of our friendly staff on (02) 9757 2998.<br /><br />

<hr />

MagicPro / magicpro-aust@bigpond.com / p: (02) 9757 2998 / f: (02) 9757 2658


</body>


</html>