<html>

<head>
	<link rel="stylesheet" href="style.css">

</head>

<body >

<h1>Access Granted</h1>

Hi <%=user.firstname%>, <br /><br />

You have been granted access to MagicPro online order.<br /><br />

<a href="<%=homePage%>"><%=homePage%></a>
	
<hr />

MagicPro / magicpro-aust@bigpond.com / p: (02) 9757 2998 / f: (02) 9757 2658


</body>


</html>