<html>

<head>
	<link rel="stylesheet" href="style.css">

</head>

<body >

<h1>

Message 

<% if(message.name){ %>
	from <%=message.name%>
<% } %>

</h1>

<p>
	<% if(message.phone){ %>
		phone: <%=message.phone%>
	<% } %>
</p>

<p>
	
<%= message.message %>

</p>

</body>


</html>