body{
  width:100% !important;
  -webkit-text-size-adjust:none;
  margin:0;
  padding:30px;
  font-family: "Helvetica Neue" , "Lucida Grande", "Lucida", sans-serif;  
  color: #555;
}

table td{
	vertical-align: top;
}

h1, h2{
	font-weight: 300
}

li{
	list-style: none;
	padding: 5px;
}

.bundle{
	margin-bottom: 30px;
}

.bundle .product-info{
	width: 300px;
}

.bundle .compositions{
	padding-bottom: 30px;	
}


.bundle  .product-info h2{
	margin: 0;
}

.bundle  .product-info .price{
	font-size: 0.9em;
}

.bundle  .product-info .ref{
	font-weight: 300;
	font-size: 0.9em;
}

.design-label{
	font-weight: 300;
}

.design-info{
	width: 90px;
	display: inline-block;
}

.design-identifier{
	font-size: 1em;
	font-weight: 100;	
}

.total-price{
	border-top: 1px solid lightgray;
	font-size: 1.2em;
	text-align: center;
	padding-top: 7px;
}





