





	<div class="article col-xs-12 col-sm-6 col-lg-3 {{article.status}} " ng-repeat="article in articles">
		
		<h1 ui-sref="article({articleId: article._id})" >{{article.title}}</h1>
		
		<div class="article-info">
			<span ng-show="article.status == 'published'" class="published-date" >{{ 'article.published.on' | translate }} {{article.createdOn | date: 'MMM d, y'}}</span> &nbsp;&nbsp;
			<span ng-show="article.status == 'draft'" class="published-date" translate>article.draft</span> &nbsp;&nbsp;
			<span ng-show="isRole('admin')">								
				<a ng-click="editArticle(article)" translate>article.edit</a> |
				<a ng-click="removeArticle(article)" translate>article.remove</a>
			</span>
		</div>
		<div class="article-data">
			<div ui-sref="article({articleId: article._id})" ng-if="article.image" imt-src="article.image" imt-size="w=100"></div>
			

			<p ng-if="article.category != 'media' " class="content" ng-bind-html="article.content | imt_trust" ></p>					
			<div ng-if="article.category == 'media' " imt-youtube="article.content" class="media-content content"></div>
		</div>

		<a class="read-more" ui-sref="article({articleId: article._id})" translate>article.readmore</a>
		<div ng-show="article.category != 'media' " class="article-content" ng-model="article.content" imt-rich-editor options='{ "placeholder": "Write your article..." }' ></div>
	</div>


