<div class="article-edit-view">

	<div class="uploading-overlay" ng-show="waitingUpload" >
		<h1 translate>article.upload.finishing</h1>
		<div class="progress">
			<div class="progress-bar" data-ng-style="{width: (uploader.progress) + '%'}"></div>
		</div>
	</div>
	
	<form novalidate name="data" class="form-horizontal">
		<fieldset ng-disabled="submiting">

			<div class="article-file-chooser">
				<div imt-file-chooser="{ 'model': article, 'field': 'image', size: 'w=500', icon: 'fa-picture-o' }" class="small "></div>						
			</div>

			<div 
				class="form-group title-group "
				ng-class="{ 'has-error': (submited &&  data.title.$error.required) }" >

				<!-- <label class="col-lg-3 control-label" translate >article.name</label> -->
				<div class="col-lg-12 form-item">
					
						<input 
							type="text" 
							class="form-control" 
							name="title" 
							placeholder="{{ 'article.title' | translate }}" 
							ng-model="article.title"
							required 									
						>
						<div class="btn-group btn-group-xs category" >
							<i class="fa fa-tag"></i> <a href="" dropdown-toggle >{{ ('article.category.' + article.category) | translate }} <i class="fa fa-caret-down"></i> </a>

							<ul class="dropdown-menu ticked">
								<li ng-repeat="category in categories" >
									<a ng-click="selectCategory(category)" > <i class="icon-ok" ng-show="category == article.category"></i>{{ ('article.category.' + category) | translate }}</a>
								</li>    	
							</ul>
						</div>

						<div 
							class="error-tip" 
							translate >
							article.title.required
						</div>

				</div>
			</div>

			

			<div 
				class="form-group content-group "
				ng-class="{ 'has-error': (submited &&  data.content.$error.required) }" >

				<!-- <label class="col-lg-3 control-label" translate >article.content</label> -->
				<div class="col-lg-12 form-item">
						

						<div ng-show="article.category != 'media' " class="article-content" ng-model="article.content" imt-rich-editor options='{ "placeholder": "Write your article..." }' ></div>
						
						<input ng-show="article.category == 'media'" type="text" class="form-control" ng-model="article.content" placeholder="{{ 'article.category.media.placeholder' | translate }}"   >
	
						<div 
							class="error-tip" 
							translate >
							article.content.required
						</div>

				</div>
			</div>


			<div class="form-group " > 

				<div class="col-lg-12 buttons-line">
					<!-- <label class="article-status" for="">
						<span ng-show="article.status == 'published'">{{ 'article.published.on' | translate }} {{article.createdOn | date: 'MMM d, y'}}</span>
						<span ng-show="article.status == 'draft'">{{ 'article.draft' | translate }}</span>

					</label> -->

					<div class="pull-left">
						<div class="btn-group" >
							<button class="btn btn-lg btn-imt-dimmed btn-imt-dimmed-linked " ng-click="cancel()" >
								{{ 'article.cancel' | translate}}
							</button>
						</div>
					</div>					
					<div class="pull-right">


						<div class="btn-group dropup" ng-if="article.status == 'published'">
							
							<button class="btn btn-lg btn-imt-dimmed" ng-click="publish()" >
								<i class="fa fa-check"></i> {{ 'article.update' | translate}}
							</button>
						

							<button data-toggle="dropdown" class="btn btn-lg btn-info dropdown-toggle">
								&nbsp;<i class="fa fa-caret-down"></i>&nbsp;
							</button>

							<ul class="dropdown-menu dropup dropdown-info pull-right">
								
								<li >
									<a ng-click="unpublish()" ><i class="fa fa-undo"></i> &nbsp;&nbsp; {{'article.unpublish' | translate}}</a>
								</li>

								<li >
									<a ng-click="remove()" ><i class="fa fa-trash-o"></i> &nbsp;&nbsp; {{'article.remove' | translate}}</a>
								</li>
																

							</ul>
						</div>



						<div class="btn-group" ng-if="article.status == 'draft'">
							<button class="btn btn-lg btn-imt-dimmed " ng-click="save()" >
								{{ 'article.save' | translate}}
							</button>
						</div>

						<!-- <div class="btn-group" ng-if="article.status == 'published'">
							<button class="btn btn-lg btn-imt-dimmed btn-imt-dimmed-linked " ng-click="unpublish()" >
								{{ 'article.unpublish' | translate}}
							</button>
						</div> -->
						
						<div class="btn-group" ng-if="article.status == 'draft'">
							<button class="btn btn-lg btn-imt-dimmed three-d" ng-click="publish()" >
							<i class="fa fa-check"></i>
								{{ 'article.publish' | translate}}
							</button>
						</div>

					</div>
				</div>		

			</div>			

		</fieldset>
	</form>

	

	

	

	
</div>

